<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1045688199883-lpras5j1ugc5n6g1ionenhqn9hbf5kjg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1045688199883-lpras5j1ugc5n6g1ionenhqn9hbf5kjg</string>
	<key>API_KEY</key>
	<string>AIzaSyBJWgCpWDtLn04KbTgncFU_ZYIpOwpFGwE</string>
	<key>GCM_SENDER_ID</key>
	<string>1045688199883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chobi.Albazip.ios</string>
	<key>PROJECT_ID</key>
	<string>albazip-cd574</string>
	<key>STORAGE_BUCKET</key>
	<string>albazip-cd574.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1045688199883:ios:ae3ebc1fbe84642c18c94e</string>
</dict>
</plist>